<%= form_for(@translation) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br />
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :translator_id %><br />
    <%= f.number_field :translator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
