<p id="notice"><%= notice %></p>

<p>
  <b>Document:</b>
  <%= @sentence.document_id %>
</p>

<p>
  <b>Body:</b>
  <%= @sentence.body %>
</p>

<p>
  <b>Additional:</b>
  <%= @sentence.additional %>
</p>


<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
