<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @text.title %>
</p>

<p>
  <b>Description:</b>
  <%= @text.description %>
</p>


<p>
  <b>User:</b>
  <%= @text.user.name %>
</p>

<%= link_to 'Edit', edit_plain_text_path(@text) %> |
<%= link_to 'Back', plain_texts_path %>

<%= render 'words/words_and_translations'%>

